parameters:
    level: 8
	tmpDir: var/cache/phpstan
	paths:
        - app/
        - src/
        - tests/
    excludes_analyse:
        - tests/_support/_generated/
    inferPrivatePropertyTypeFromConstructor: true
	bootstrapFiles:
        - vendor/codeception/codeception/autoload.php
